*.exe
*.exe.manifest
*.pdb
*.pidb
*.suo
*.sdf
*.userprefs
*.sln.docstates
*.user
bin
obj
/lib
/TestResults
local.properties
*ncrunchsolution*
out.txt
_ReSharper*
build
_UpgradeReport_Files/
ipch/*
*.nupkg
packages/
*.t4properties
*.DS_Store
*.sln.ide
*.metaproj
*.tmp
.vs/
out/
Out/