<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib.PCL" version="1.0.0" targetFramework="portable45-net45+win8+wp8" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.0" targetFramework="portable45-net45+win8+wp8" userInstalled="true" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable45-net45+win8+wp8" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable45-net45+win8+wp8" userInstalled="true" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="portable45-net45+win8+wp8" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" userInstalled="true" />
  <package id="Xam.Plugins.Settings" version="1.5.1" targetFramework="portable45-net45+win8+wp8" userInstalled="true" />
  <package id="Xamarin.Forms" version="1.4.3.6358-pre2" targetFramework="net45" userInstalled="true" />
  <package id="Xamarin.Forms.Dynamic" version="0.1.10-pre" targetFramework="net45" userInstalled="true" />
</packages>