<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.0" targetFramework="portable45-net45+win8+wp8" userInstalled="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" userInstalled="true" />
  <package id="Xam.Plugins.Settings" version="1.5.1" targetFramework="portable45-net45+win8+wp8" userInstalled="true" />
  <package id="Xamarin.Forms" version="1.4.3.6358-pre2" targetFramework="net45" userInstalled="true" />
  <package id="Xamarin.Forms.Dynamic" version="0.1.13-pre" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>