<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitInfo" version="1.0.49-pre" targetFramework="xamarinios1" userInstalled="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios1" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="xamarinios1" userInstalled="true" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios1" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="xamarinios1" userInstalled="true" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="xamarinios10" userInstalled="true" />
  <package id="Xamarin.Forms" version="1.5.0.6447" targetFramework="xamarinios1" />
  <package id="Xamarin.Forms.Dynamic" version="0.1.17-pre" targetFramework="xamarinios1" />
</packages>